# Check for {{name}}
check:
    @command -v {{name}} &> /dev/null || echo "❌ {{name}}"
    @command -v {{name}} &> /dev/null && echo "✅ {{name}}" || true

# Install {{name}}
install:
    @command -v {{name}} &> /dev/null || just install {{name}}

